@import './_reset.scss';

.introduce{
    margin-top: 0.3rem;
    font-size: 0.2rem;
    text-align: center;
    .title{
    font-size: 0.25rem;
        .name{
            color: pink;
        }
    }
    .tip{
        margin-top: 1rem;
    }
    .detail{
        dd{
            margin-top: 0.1rem;
        }
    }
}
